{% extends 'base.html' %}

{% block title %}Proyectos{% endblock %}

{% block content %}
    <h1>Proyectos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Líder</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.lider.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
